In [2]:
import numpy as np 
import pandas as pd

In [6]:
games = pd.read_csv('games.csv')
games.shape

(1512, 14)

In [9]:
games.head(1)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K

In [13]:
#team
#rating
#genres
#title
#summary
#reviews

games = games[['Title','Team','Genres','Rating','Summary','Reviews']]

In [15]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    1512 non-null   object
 1   Team     1511 non-null   object
 2   Genres   1512 non-null   object
 3   Rating   1499 non-null   float64
 4   Summary  1511 non-null   object
 5   Reviews  1512 non-null   object
dtypes: float64(1), object(5)
memory usage: 71.0+ KB

In [ ]:
games.head(1512)

In [23]:
games.isnull().sum()

Title      0
Team       0
Genres     0
Rating     0
Summary    0
Reviews    0
dtype: int64

In [22]:
games.dropna(inplace=True)

In [26]:
games.duplicated().sum()

np.int64(384)

In [ ]:
games.drop_duplicates()